.introduction {
	position: relative;
	color: $blue;
	text-align: center;
	display: flex;
	align-items: center; 

	&__lead {
		font: {
			size: 3.5rem;
			family: $font-lemon;
		} 
		small {
			display: block;
			color: $dark-gray;
			font-family: $font-roboto;
			font-size: 2.25rem;
		}
	}

	&--emphasis {
		color: $red;
		font-weight: bold;
	}
}