// Color Scheme
$blue: #0076A3;
$red: #F25F5C;
$dark-gray: #50514F;
$sea-green: #70C1B3;
$yellow: #FFE066;
$white: #FFF;

// Fonts
$font-sansita: 'Sansita One', cursive;
$font-roboto: 'Roboto', sans-serif;

